<!-- <div class="card" style="border: none;">
  <div class="card-body">

    
    </div>
    </div> -->
    <div class="container-fluid">
      <div class="row">
        <div class="shadow-lg p-3 mb-3 bg-body rounded chart-title">Dashboard</div>
     <div class="col-6">
      <div class="card shadow-lg p-3 mb-3 bg-body rounded" style="width: auto;">
        <div class="card-header" style="border: none;">
          <h5 class="float-left chart-title">Available stock</h5>
        </div>
        
        <div class="card-body">
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <div id="stockChart" style="height: 400px; width: auto;"></div>
          
        </div>
      </div>

     </div> 
     
     <div class="col-6">
      <div class="card shadow-lg p-3 mb-3 bg-body rounded" style="width: auto;">
        <div class="card-header" style="border: none;">
          <h5 class="float-left chart-title">Sale per day</h5>
        </div>
        
        <div class="card-body">
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        
          <div id="salesChart" style="height: 400px; width: auto;"></div>
   
          
        </div>
      </div>

    </div> 
    

  </div>
</div>